<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ContosoCheckIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ContosoCheckIn.Properties.Settings>
            <setting name="SiteUrl" serializeAs="String">
                <value>https://robotnet.no-ip.hu/</value>
            </setting>
            <setting name="MinimalThreshold" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CameraNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumCandidates" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>asdasd</value>
            </setting>
            <setting name="MinFaceDeltaPercent" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="TwoMonitorMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FaceDetectionTimeout" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="IdentifyTimeout" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="BlockOnNoIdentity" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="BlockOnPrimaryIdentity" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="BlockOnMultipleIdentity" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BlockInfinity" serializeAs="String">
                <value>1000000000</value>
            </setting>
            <setting name="BlockOnNoFace" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LocalFaceDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinWidthOnUserControls" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="CanonSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanonMultiplier" serializeAs="String">
                <value>0.5</value>
            </setting>
        </ContosoCheckIn.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>